* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  background-color: #0585eb;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

table {
  margin: 50px auto;
  border-spacing: 2px;
  background-color: rgb(108, 108, 108);
  position: relative;
}

thead {
  position: sticky;
  top: -1px;
}

thead td {
  text-align: center;
  font-weight: bold;
  padding: 5px 10px;
  background-color: white;
}

tbody td {
  background-color: #c3c3c3;
}

tbody td .checked div {
  padding: 5px 10px;
  overflow: auto;
  max-width: 220px;
}

tbody td .checked span {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  display: none;
}

tbody td .checked span:first-of-type {
  color: green;
}
tbody td .checked span:nth-of-type(2) {
  color: red;
}

tbody td .checked div.answer {
  font-weight: bold;
}

tbody td .inputed {
  font-size: 12px;
}

tbody td input{
  padding: 5px 15px;
  outline-color: #0585eb;
  border: none;
}


tbody td .checked {
  display: none;
}

tbody .wave,
tbody .freq {
  min-width: 230px;
}



tbody .wave input,
tbody .freq input {
  width: 103.36px;
  padding: 5px;
}

tbody .wave span,
tbody .freq span {
  font-size: 13px;
  user-select: none;
}

.bottons {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: sticky;
  bottom: 0;
  background-color: white;
  margin-bottom: 50px;
  padding: 10px 0;
}

.bottons div {
  background-color: #0585eb;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.bottons div:hover {
  background-color: #0472c9;
}

@media (max-width: 991px) {
  tbody td input:focus {
    transform: translateX(-50%);
    position: absolute;
    z-index : 2;
    top: -40px;
    left: 50%;
    width: 200px;
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  tbody .wave,
  tbody .freq {
    min-width: 70px;
  }
  input {
    width: 100%;
  }
  tbody .wave input, tbody .freq input {
    width: 25.36px;
  }
  thead td {
    font-size: 12px;
    padding: 2px;
  }
  tbody .wave span, tbody .freq span {
    font-size: 9px;
  }
  tbody td .checked {
    font-size: 12px;
  }
  table {
    margin: 50px auto;
  }
  .bottons {
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
  tbody .wave,
  tbody .freq {
    min-width: 70px;
  }
  input {
    width: 100%;
  }
  tbody .wave input, tbody .freq input {
    width: 25.36px;
  }
  thead td {
    font-size: 12px;
    padding: 2px;
  }
  tbody .wave span, tbody .freq span {
    font-size: 9px;
  }
  tbody td .checked div {
    max-width: 95px;
  }
  tbody td .checked {
    font-size: 12px;
  }
  table {
    margin: 50px 15px;
  }
  .bottons {
    font-size: 12px;
    text-align: center;
  }
}
